
wars_patch/text/text_staffroll_es (IGNORAR)/text_staffroll_codetbl.codetbl
wars_patch/text/text_staffroll_es (IGNORAR)/text_staffroll.cnvrs-text
wars_patch/text/text_patch_es (IGNORAR)/text_patch_codetbl.codetbl
wars_patch/text/text_patch_es (IGNORAR)/text_patch.cnvrs-text
